    body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background-color: #f5ce64;
}

/*footer*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#ccc;
   color:black;
   text-align: center;
}





hr
{
	width: 100%
}
h3
{
	text-align: center;
	color: black;
}
.alert
{
	color:yellow;
}

.
/*. left-div
{
	width: 33.33%;
	display:table-row-group;
	float: left;
} */

.right-div
{
	float:left;
	width: 33.33%;
	display:table-row-group;
	padding-right: 54px
}
.right-div-right
{
	float:right;
	width: 33.33%;
	display:table-row-group;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}